<div class="nav-container">
  <div class="app-css-container">
    <div class="nav-scroller">
      <nav class="nav d-flex" #nav>
        <a
          class="p-3 px-5"
          [routerLink]="['/games', 'top']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >top games</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'new']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >new games</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'slots']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >slots</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'jackpots']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >jackpots</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'live']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >live</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'blackjack']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >blackjack</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'roulette']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >roulette</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'table']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >table</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'poker']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >poker</a
        >
        <a
          class="p-3"
          [routerLink]="['/games', 'other']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >other</a
        >
      </nav>
    </div>
  </div>
  <div class="progressbar">
    <mat-progress-bar
      mode="indeterminate"
      style="height: 5px"
      color="accent"
      *ngIf="isLoading$ | async"
    ></mat-progress-bar>
  </div>
</div>
<div class="content">
  <app-games-page></app-games-page>
</div>
